/* Page Styles */
body {
    width: 960px;
    margin: 0 auto;
}

p, span {
    font-family: 'Lato', sans-serif;
    line-height: 2.5em;
    font-size: 16px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h1, h2 {
    font-family: 'Yesteryear', cursive;
}


/* Navigation Styles */
nav ul {
    list-style: none;
    text-align: center;
    height: 40px;
}

nav li {
    display: inline-block;
    margin: 0 1em; 
}

/* hero-image styles */
#hero-image {
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    height: 30em;
}

#center {
    margin: auto;
    text-align: center;
    color: #efdfbb;
}

#center h1 {
    font-size: 50px;
    margin-bottom: 1em;
}

/* intro text styles */
#intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.column {
    flex: 50%;
}

#intro-text h1 {
    text-align: center;
}

/* About Us */
.divider-image {
    background-image: url('../images/first-spacer.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.divider-image h1 {
    color: #efdfbb;
}

#about {
    width: 60%;
    margin: 0 auto;
}

#about p {
    margin: 3em 0;
}

#about h2 {
    font-size: 1.8em;
    text-align: center;

}

.outer {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin-top: 3em;
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .item {
    background-color: orange;
    flex: 1;
    padding: 4em;
    text-align: center;
    margin: .5em;
  }

  .item span {
      width: 50%;
  }

/* spacer image styles */

.divider-image {
    height: 20em;
    display: grid;
    border: 1px solid black;  
}

.divider-image h1 {
    margin: auto;
}
